/* style.css */

/* Reset des marges et du padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    margin: 0;
    padding: 5px;
    background-image: url(./assets/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    max-width: 800px;
    margin: auto;
    display: flex;
    /* Ajoute Flexbox */
    flex-direction: column;
    /* Organise les éléments en colonne */
    justify-content: center;
    /* Centre verticalement */
    align-items: center;
    /* Centre horizontalement */
    min-height: 90vh;
    /* Prend toute la hauteur de la fenêtre */
    text-align: center;
    /* Centre le texte */
}


h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

#arrow-back {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.battlefield {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0;
}

.pokemon {
    text-align: center;
    margin-bottom: 20px;
}

.pokemon img {
    min-height: 150px;
    max-height: 151px;
    width: auto;
}

.health-bar {
    width: 200px;
    /* Largeur ajustée pour s'adapter aux petits écrans */
    height: 25px;
    background-color: #e0e0e0;
    border-radius: 12px;
    margin: 10px auto;
    position: relative;
}

.health-bar div {
    height: 100%;
    background-color: #8cc776;
    border-radius: 12px;
    color: white;
    line-height: 25px;
    font-weight: bold;
    font-size: 0.9rem;
}

.vs {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 40px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}



.attacks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.reload button,
.attacks button {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 10px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #76c7c0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reload button:hover,
.attacks button:hover {
    background-color: #5fa7a4;
}

.reload button:active,
.attacks button:active {
    transform: scale(0.95);
}

/* Animation pour agrandir le Pokémon attaquant */
.pokemon>img {
    transition: transform 0.3s ease;
    /* Animation fluide */
}

.pokemon-player.attacking>img {
    transform: scale(1.5) translate(150px, 0);
    position: relative;
    z-index: 10;
}

.pokemon-opponent.attacking>img {
    transform: scale(1.5) translate(-150px, 0);
}

/* Animation pour faire trembler le Pokémon attaqué */
.pokemon.damaged>img {
    animation: shake 1s ease-in-out;
}

/* Animation du gagnant */
.winner {
    animation: winner-celebration 2s ease-in-out;
}

.hidden {
    display: none;
}

.relative-container {
    position: relative;
}

/* Loader CSS */
.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #76c7c0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

.score-board {
    width: 245px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    font-weight: bold;
    text-align: right;
    position: absolute;
    right: 15px;
    top: 15px;
}

/* Applique l'animation à Métamorph lorsqu'il se transforme */
.pokemon.transforming img {
    animation: morphing-animation 1.5s ease-in-out;
}

.nameAndType {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ICONS */
.type-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 5px;
}

.type-icon {
    width: 30px;
    height: 30px;
}

.nameAndType img {
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
}

.bug {
    background: #92BC2C;
    box-shadow: 0 0 20px #92BC2C;
}

.dark {
    background: #595761;
    box-shadow: 0 0 20px #595761;
}

.dragon {
    background: #0C69C8;
    box-shadow: 0 0 20px #0C69C8;
}

.electric {
    background: #F2D94E;
    box-shadow: 0 0 20px #F2D94E;
}

.fire {
    background: #FBA54C;
    box-shadow: 0 0 20px #FBA54C;
}

.fairy {
    background: #EE90E6;
    box-shadow: 0 0 20px #EE90E6;
}

.fighting {
    background: #D3425F;
    box-shadow: 0 0 20px #D3425F;
}

.flying {
    background: #A1BBEC;
    box-shadow: 0 0 20px #A1BBEC;
}

.ghost {
    background: #5F6DBC;
    box-shadow: 0 0 20px #5F6DBC;
}

.grass {
    background: #5FBD58;
    box-shadow: 0 0 20px #5FBD58;
}

.ground {
    background: #DA7C4D;
    box-shadow: 0 0 20px #DA7C4D;
}

.ice {
    background: #75D0C1;
    box-shadow: 0 0 20px #75D0C1;
}

.normal {
    background: #A0A29F;
    box-shadow: 0 0 20px #A0A29F;
}

.poison {
    background: #B763CF;
    box-shadow: 0 0 20px #B763CF;
}

.psychic {
    background: #FA8581;
    box-shadow: 0 0 20px #FA8581;
}

.rock {
    background: #C9BB8A;
    box-shadow: 0 0 20px #C9BB8A;
}

.steel {
    background: #5695A3;
    box-shadow: 0 0 20px #5695A3;
}

.water {
    background: #539DDF;
    box-shadow: 0 0 20px #539DDF;
}

@keyframes morphing-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    25% {
        transform: scale(1.3);
        opacity: 0.5;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    75% {
        transform: scale(1.3);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes winner-celebration {
    0% {
        transform: translateY(0) scale(1);
        filter: brightness(1);
    }

    25% {
        transform: translateY(-10px) scale(1.1);
        filter: brightness(1.2);
    }

    50% {
        transform: translateY(0) scale(1);
        filter: brightness(1);
    }

    75% {
        transform: translateY(-5px) scale(1.05);
        filter: brightness(1.3);
    }

    100% {
        transform: translateY(0) scale(1);
        filter: brightness(1);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes shake {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(-5px);
    }

    20% {
        transform: translateX(5px);
    }

    30% {
        transform: translateX(-5px);
    }

    40% {
        transform: translateX(5px);
    }

    50% {
        transform: translateX(-5px);
    }

    60% {
        transform: translateX(5px);
    }

    70% {
        transform: translateX(-5px);
    }

    80% {
        transform: translateX(5px);
    }

    90% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}


/* Styles spécifiques pour les petits écrans */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    .vs {
        display: none;
    }

    .score-board {
        position: absolute;
        right: 5px;
        top: 12px;
        width: 228px;
    }

    .battlefield {
        flex-direction: column;
        margin: 70px 0;
    }

    .pokemon-player.attacking>img {
        transform: scale(1.5) translate(0, 200px);
    }

    .pokemon-opponent.attacking>img {
        transform: scale(1.5) translate(0, -200px);
    }

    .health-bar {
        width: 200px;
        /* Barre de vie élargie sur mobile */
    }

    .attacks button {
        /* Boutons prenant presque toute la largeur */
        margin: 5px;
        font-size: 0.9rem;
    }

    .pokemon {
        margin-bottom: 10px;
    }

    .vs {
        font-size: 1.2rem;
        margin: 0 0 10px 0;
        height: 50px;
    }
}